.grid {
 display: grid;
 position: relative;
 margin: auto;
 border: 2px blue solid;
 max-height: 3000px;
 max-width: 1300px;
 grid-gap: 10px;
 grid-template-areas: "head gif"
                       "profilepic highlights";
  grid-template-rows: 600px 600px;
  grid-template-columns: 600px 600px; 
 justify-content: center;
}

h2 {
  font-size: 15px;
  font-color: light blue;
 border-box: gray;
 }

 
header {
  grid-area: head;
 width: 300px;
} 
 
.gif {
  grid-area: gif;
} 
 
.aboutme {
  grid-area: aboutme;
} 
 
 .profilepic {
  grid-area: profilepic;
}

.highlights {
 grid-area: highlights;
}
 
