p {
  height: 80px;
  width: 240px;
  border: 3px solid coral;
  padding: 10px;
  margin: 240px auto;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Garamond", "Times", serif;
}


.contact {
  font-size: 18px;
}
.contact h2 {
  font-size: 1.5em;
}
.aboutmecontainer {
    height: 80px,
    width: 20px
    margin: 0 auto,
}
.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 50% 1fr;
}
